* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

p,
ul,
h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  padding: 40px 0;
  margin-left: 100px;
  margin-right: 100px;
}

.header-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  list-style: none;
  gap: 4vh;
}

.nav-btn {
  color: #ff6060;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
}

@media screen and (max-width: 700px) {
  .nav-btn {
    text-transform: uppercase;
    font-size: 17px;
  }
}
@media screen and (max-width: 575px) {
  .header {
    flex-direction: column;
  }

  .header-container ul {
    padding: 0;
  }
}

/* Banner */

.banner {
  position: relative;
  border-radius: 25px;
  /* stylelint-disable-next-line color-function-notation */
  background: rgba(0, 0, 0, 70%);
  overflow: hidden;
  margin: 0 100px 50px;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.banner p {
  position: absolute;
  top: 5rem;
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  width: 100%;
  color: white;
  text-align: center;
}

.desktop {
  height: 225px;
}

.responsive {
  height: 255px;
}

/* Dropdown */

.dropdown {
  margin: 10px 10px 0 0;
  width: 100%;
  background: #ff6060;
  flex-grow: 1;
  border-radius: 10px;
}

.dropdown-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 31px 209px;
  gap: 31px;
  list-style: none;
  flex-wrap: wrap;
}

.dropdown-title {
  padding: 0 18px;
  height: 47px;
  font-family: Montserrat, sans-serif;
  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-content {
  display: none;
  list-style-type: none;
  padding: 27px 27px 18px 19px;
  background: #f6f6f6;
  color: #ff6060;
  font-family: Montserrat, sans-serif;
  font-weight: 400px;
}

.dropdown.open .dropdown-content {
  display: flex;
}

.dropdown-toggle {
  transform: rotate(0deg);
}

.dropdown.open .dropdown-toggle {
  transform: rotate(180deg);
}

/* Footer */

.footer {
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
}

.footer img {
  padding: 66px 0 44px;
}

.footer span {
  padding-bottom: 29px;
}

/* Thumb */

.thumb-container {
  margin: 45px 100px;
  display: grid;
  padding: 60px;
  gap: 60px;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-auto-rows: 340px;
  background: #f6f6f6;
  border-radius: 10px;
}

.thumb {
  position: relative;
}

.thumb img {
  min-width: 100%;
  width: 0;
  min-height: 100%;
  height: 0;
  object-fit: cover;
  /* stylelint-disable-next-line color-function-notation */
  border-radius: 10px;
}

.thumb::before {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(#0000, #0000007f);
  content: '';
  border-radius: 10px;
}

.thumb-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: white;
  opacity: 1;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
}

/* 404 (Not Found) */

.notfound-container {
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ff6060;
}

.notfound-container span {
  font-size: 288px;
  font-weight: bold;
}

.notfound-container p {
  font-size: 36px;
  margin-bottom: 182px;
}

.notfound-container a {
  color: #ff6060;
}

a:hover {
  text-decoration: underline;
  color: #ff6060;
}

/* Accomodation */

.accommodation-container {
  margin: 0 100px;
}

.accommodation-title {
  padding: 30px 0 20px;
}

.accommodation-title h1 {
  font-family: Montserrat, sans-serif;
  color: #ff6060;
  font-weight: 500;
  font-size: 36px;
}

.accommodation-title p {
  font-family: Montserrat, sans-serif;
  color: #ff6060;
  font-size: 18px;
}

/* Tags */

.tag-container {
  display: flex;
  align-items: center;
  font-family: Montserrat, sans-serif;
  padding: 0;
  gap: 10px;
}

.tag {
  width: 115px;
  height: 25px;
  background-color: #ff6060;
  border-radius: 10px;
  color: white;
  list-style-type: none;
  text-align: center;
  line-height: 25px;
  font-size: smaller;
}
