* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

p,
ul,
h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

/* stylelint-disable-next-line selector-class-pattern */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  padding: 40px 0;
  margin-left: 100px;
  margin-right: 100px;
  flex-grow: 0;
  flex-shrink: 0;
}

.header-container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  list-style: none;
  gap: 4vh;
}

.nav-btn {
  color: #ff6060;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
}

/* Banner */

.banner {
  position: relative;
  border-radius: 25px;
  /* stylelint-disable-next-line color-function-notation */
  background: rgba(0, 0, 0, 70%);
  overflow: hidden;
  margin: 0 100px 50px;
  height: 225px;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.banner p {
  position: absolute;
  top: 5rem;
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: center;
}

.desktop {
  height: 225px;
}

/* Dropdown */

.dropdownlist-container {
  margin: 0 208px;
}

.dropdown {
  width: 100%;
  background: #ff6060;
  flex-grow: 1;
  border-radius: 10px;
}

.dropdown-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 31px;
  list-style: none;
}

ul.dropdown-container {
  padding: 0;
}

.dropdown-title {
  padding: 0 18px;
  height: 47px;
  font-family: Montserrat, sans-serif;
  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-content {
  display: none;
  list-style-type: none;
  padding: 27px 27px 18px 19px;
  background: #f6f6f6;
  color: #ff6060;
  font-family: Montserrat, sans-serif;
  font-weight: 400px;
}

.dropdown.open .dropdown-content {
  display: block;
}

.dropdown-toggle {
  transform: rotate(0deg);
}

.dropdown.open .dropdown-toggle {
  transform: rotate(180deg);
}

.row {
  flex-direction: row;
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

/* Footer */

.footer {
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  margin-top: 44px;
  flex-grow: 0;
  flex-shrink: 0;
}

.footer img {
  padding: 66px 0 44px;
}

.footer span {
  padding-bottom: 29px;
}

/* Thumb */

.thumb-container {
  margin: 45px 100px;
  display: grid;
  padding: 60px;
  gap: 60px;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-auto-rows: 340px;
  background: #f6f6f6;
  border-radius: 10px;
}

.thumb {
  position: relative;
}

.thumb img {
  min-width: 100%;
  width: 0;
  min-height: 100%;
  height: 0;
  object-fit: cover;
  /* stylelint-disable-next-line color-function-notation */
  border-radius: 10px;
}

.thumb::before {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(#0000, #0000007f);
  content: '';
  border-radius: 10px;
}

.thumb-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: white;
  opacity: 1;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
}

/* 404 (Not Found) */

.notfound-container {
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ff6060;
}

.notfound-container span {
  font-size: 288px;
  font-weight: bold;
}

.notfound-container p {
  font-size: 36px;
  margin-bottom: 182px;
}

.notfound-container a {
  color: #ff6060;
}

a:hover {
  text-decoration: underline;
  color: #ff6060;
}

/* Accomodation */

.accommodation-container {
  margin: 0 100px;
}

.accommodation-infos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.accommodation-title-owner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.accommodation-title {
  padding: 30px 0 20px;
}

.accommodation-title h1 {
  font-family: Montserrat, sans-serif;
  color: #ff6060;
  font-weight: 500;
  font-size: 36px;
}

.accommodation-title p {
  font-family: Montserrat, sans-serif;
  color: #ff6060;
  font-size: 18px;
}

.accommodation-owner {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 30px 0 0;
}

.accommodation-owner p {
  color: #ff6060;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
}

.accommodation-owner img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.accommodation-host {
  display: flex;
  align-items: center;
}

.accommodation-host p {
  width: 93px;
  text-align: right;
  padding: 10px;
}

.accommodation-tags-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Tags */

.tag-container {
  display: flex;
  align-items: center;
  font-family: Montserrat, sans-serif;
  flex-wrap: wrap;
  padding: 0;
  gap: 10px;
}

.tag {
  width: 115px;
  height: 25px;
  background-color: #ff6060;
  border-radius: 10px;
  color: white;
  list-style-type: none;
  text-align: center;
  line-height: 25px;
  font-size: smaller;
}

/* Star */

.star-container {
  display: flex;
  padding: 0;
  list-style-type: none;
  gap: 10px;
}

.star {
  font-size: 24px;
}

.star i {
  line-height: 36px;
  color: #ff6060;
}

/* Carousel */

.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  aspect-ratio: 3/1;
  max-height: 600px;
}

.carousel-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-container::before {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(#0000, #0000007f);
  content: '';
}

.arrows {
  font-size: 60px;
}

.left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.left img,
.right img {
  aspect-ratio: initial;
}

.carousel-container p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 18px;
  bottom: 5%;
}

.right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

@media screen and (max-width: 575px) {
  .header-container ul {
    padding: 0;
  }
}

@media screen and (max-width: 700px) {
  .accommodation-container {
    padding: 26px 0 0;
    margin: 0 20px;
  }

  .header {
    margin: 20px 20px 0;
    padding: 0;
  }

  .nav-btn {
    text-transform: uppercase;
    font-size: 17px;
  }

  .accommodation-title h1 {
    font-size: 18px;
  }

  .accommodation-title p {
    font-size: 14px;
  }

  .accommodation-infos {
    flex-direction: column;
  }

  .accommodation-owner {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0;
  }

  .accommodation-host p {
    font-size: 15px;
  }

  .accommodation-host img {
    width: 48px;
    height: 48px;
  }

  .star-container {
    gap: 5px;
  }

  .star {
    font-size: initial;
  }

  .dropdown-container {
    flex-direction: column;
  }

  .dropdown-title {
    height: 30px;
    font-size: 13px !important;
  }

  .dropdown-content {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 950px) {
  .header-container ul {
    padding: 0;
    background-color: transparent;
  }

  .banner p {
    font-size: 33px;
  }

  .thumb-container,
  .banner,
  .dropdownlist-container {
    margin: 20px;
  }

  .thumb-container {
    padding: 0;
    background-color: transparent;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }

  .carousel-container {
    height: 255px;
    aspect-ratio: initial;
  }

  .left img,
  .right img {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 480px) {
  .header-container ul {
    gap: 10px;
  }

  .header img {
    width: 145px;
    height: 47px;
  }
}

@media screen and (max-width: 375px) {
  .header {
    margin: 20px 20px 0;
    padding: 0;
  }

  .nav-btn {
    font-size: 12px;
    gap: 10px;
  }

  .banner {
    height: 111px;
  }

  .banner p {
    top: 1.7rem;
    font-size: 24px;
    justify-content: initial;
    left: 16px;
    gap: 0;
  }

  .header img {
    width: 145px;
    height: 47px;
  }

  .header-container ul {
    display: flex;
  }

  .thumb {
    width: 100%;
    height: 255px;
  }

  .thumb-container {
    grid-auto-rows: initial;
    row-gap: 20px;
  }

  .footer span {
    font-size: 12px;
  }

  .dropdownlist-container {
    margin: 20px;
  }

  .dropdown-title {
    font-size: 13px !important;
  }

  .dropdown-content {
    font-size: 12px !important;
  }
}
